* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-color: bisque;
}
  
.images_thumbnails {
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
}
  
.images_thumbnails div {
    height: 250px;
    flex-grow: 1;
    cursor: pointer;
    transition: all 0.2s 0s linear;
}
  
.images_thumbnails div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
  
.images_thumbnails div:hover {
    box-shadow: 3px 3px 30px 3px black;
    transform: translate(-3px, -3px);
}
  
.active_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100vw;
    height: 100vh;
}
  
.active_image_container img {
    width: 70%;
    height: 70%;
    object-fit: cover;
}