*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer{
    background-image: url(../media/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px 0;
    display: flex;
}

#form-container .user-data {
    display: flex;
  }
  
  #form-container .user-data div {
    display: flex;
    flex-direction: column;
  }
  
  #form-container .message-data {
    display: flex;
    flex-direction: column;
  }
  
  #form-container .button-block {
    display: flex;
    justify-content: flex-end;
  }
  
  #form-container form input,
  #form-container form textarea {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
  }
  
  #form-container form input:focus,
  #form-container form textarea:focus {
    outline: none;
    border-bottom: 2px solid white;
  }